html{
    scroll-behavior: smooth;
}
body{
    font-family:'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
.btn-color{
    font-size: 16px;
    color: white;
    background: #FF5498;
    padding: 5px 15px;
    border-radius: 8px ;
    border: none;
    width: auto;
    transition: .4s;
}
.btn-color:hover{
    font-size: 16px;
    color: rgb(2, 2, 2);
    background: #fa0303;
    padding: 5px 15px;
    border-radius: 8px ;
    border: none;
}


/*carousal part start*/
.carousel-background{
    background-color: #FCEAE8;
    
}
 h1{
    font-size: 40px;
    font-weight: bolder;
}
.carousel-control-prev{
    margin-left: -60px;
   
}
.carousel-control-next{
    margin-right: -60px;
}
.carousel-item img{
    height: 300px;
}
@media only screen and (max-width: 600px) {
    .carousel-control-prev{
        margin-left: 0px;
       
    }
    .carousel-control-next{
        margin-right: 0px;
    }
     h1{
        font-size: 25px;
        font-weight: bolder;
    }
  }
/*carousal part start*/


/*cetegories privew start*/
.cetegories-style{
    margin-top: 50px; 
    padding-top: 10px;  
    color: white;
}
.color1{
    background-color: rgb(255, 221, 28);
}
.color2{
    background-color: rgb(0, 60, 255);
}
.color3{
    background-color: rgb(3, 105, 25);
}
#features img{
    width: 100%;
}
.features-coll{
    box-shadow: 6px 10px 5px rgb(177, 177, 177);
    border-radius: 15px;
    padding: 15px;
    transition: .4s;
}
.features-coll:hover{
    transform:scale(1.1);
    box-shadow: 6px 10px 5px black;
}
.icon-style{
    background: #5277b3;
    padding: 15px;
    margin: 5px 0;
}
/*cetegories privew end*/


/*product*/
.card-background-color{
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 5px 10px rgb(184, 183, 183);
    transition: .3s;
}
.card-background-color:hover{
    transform:scale(1.03);
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 5px 30px rgba(71, 71, 71, 0.671);
}

.card a{
    text-decoration: none;
    color: black;
}
/*product End*/


/*subscribe-part-style*/
.subscribe-part-style{
    margin-top: 50px;
    border-radius: 10px;
    background-color: #FCEAE8;
}
.subscribe-part-style input{
    font-size: 15px;
    width: 415px;
    padding:10px;
    border:1px solid rgb(214, 210, 210);
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    .subscribe-part-style{
        margin-top: 25px;
        border-radius: 10px;
        background-color: #FCEAE8;
    }
    .subscribe-part-style h1{
        font-size: 25px;
    }
    .subscribe-part-style input{
        font-size: 12px;
        width: 282px;
        padding:5px;
        border:1px solid rgb(214, 210, 210);
        border-radius: 5px;
    }
  }


/* Product Page  */

.hedding {
    font-size: 20px;
    color: #ab8181;
}

.main-section {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 5%);
}

.left-side-product-box img {
    width: 100%;
}

.left-side-product-box .sub-img img {
    margin-top: 5px;
    width: 83px;
    height: 100px;
}

.right-side-pro-detail span {
    font-size: 15px;
}

.right-side-pro-detail p {
    font-size: 25px;
    color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
    color: #E45641;
}

.right-side-pro-detail .tag-section {
    font-size: 18px;
    color: #5D4C46;
}

.pro-box-section .pro-box img {
    width: 100%;
    height: 200px;
}

@media (min-width:360px) and (max-width:640px) {
    .pro-box-section .pro-box img {
        height: auto;
    }
}
